/* shared styles & shared fonts ,Button */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: serif;
  font-family: 'Work Sans', sans-serif;
}

.text-title{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}
.text-light-gray{
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}
.primary-btn{
  font-size: 20px;
  font-weight: 600;
  background-color: #FF900E;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 20px 24px;
  width: 100px;
  height: 64px;
}

/* Nav section starts */




